{% extends 'base.html' %}

{% block title %}
{{ post.title_tag }}
{% endblock %}

{% block content %}


<h1>
    {{ post.title }} - {{ post.author.id }}
</h1>

<small>
    By: {{ post.author }} - 
    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
            <small><a href = "{% url 'update_post' post.pk %}">Edit</a></small> - 
            <small><a href = "{% url 'delete_post' post.pk %}">Delete</a></small><br/>
        {% endif %}
    {% endif %}
    {{ post.post_date }}
</small>
<br/><br/>

{{ post.body|safe }}

<br/><br/>

<a href = "{% url 'home' %}" class = "btn btn-dark">Back</a>

<br/><br/>
<hr>
<br/>
<form action = '{% url "like_post" post.pk %}' method = 'POST'>
    {% csrf_token %}
    {% if user.is_authenticated %}
        {% if liked %}
            <button type = 'submit', name = 'post_id', value = '{{ post.id }}', class = 'btn btn-dark'>Unlike</button>
        {% else %}
            <button type = 'submit', name = 'post_id', value = '{{ post.id }}', class = 'btn btn-dark'>Like</button>
        {% endif %}
    {% else %}
    You must be logged in to like this post! - <a href="{% url 'login' %}">Login</a>
    {% endif %}
    
    - Likes: {{ post.total_likes }}
</form>


{% endblock %}